/* OVERLAY CONFIG */
/* WARNING: Do not change this unless you know what you're doing */

/* Variables */
:root {
  --game-one-x: 0px;
  --game-one-y: 0px;
  --game-one-width: 948px;
  --game-one-height: 569px;

  --game-two-x: 972px;
  --game-two-y: 0px;
  --game-two-width: 948px;
  --game-two-height: 569px;

  --game-three-x: 0px;
  --game-three-y: 593px;
  --game-three-width: 521px;
  --game-three-height: 391px;

  --game-four-x: 1399px;
  --game-four-y: 593px;
  --game-four-width: 521px;
  --game-four-height: 391px;

  --host-one-x: 545px;
  --host-one-y: 800px;
  --host-one-width: 403px;
  --host-one-height: 184px;

  --host-two-x: 972px;
  --host-two-y: 800px;
  --host-two-width: 403px;
  --host-two-height: 184px;

  --social-width: 830px;
  --social-height: 183px;
}

/* Layout Path */
#container #background {
  clip-path: polygon(
    var(--game-one-width) var(--game-one-y),
    var(--game-one-width) var(--game-one-height),
    var(--game-one-x) var(--game-one-height),
    var(--game-one-x) var(--game-three-y),
    var(--overlay-width) var(--game-three-y),
    var(--overlay-width) calc(var(--game-three-y) + var(--game-four-height)),
    calc(var(--overlay-width) - var(--game-four-width)) calc(var(--game-three-y) + var(--game-four-height)),
    calc(var(--overlay-width) - var(--game-four-width)) var(--game-three-y),
    calc(var(--game-three-x) + var(--game-three-width)) var(--game-three-y),
    calc(var(--game-three-x) + var(--game-three-width)) calc(var(--game-three-y) + var(--game-three-height)),
    var(--game-three-x) calc(var(--game-three-y) + var(--game-three-height)),
    var(--game-three-x) var(--overlay-height),
    var(--overlay-width) var(--overlay-height),
    var(--overlay-width) var(--game-two-height),
    var(--game-two-x) var(--game-two-height),
    var(--game-two-x) var(--game-two-y),
    var(--game-one-width) var(--game-one-y),
    0px 0px,
    0px var(--host-one-y),
    var(--host-one-x) var(--host-one-y),
    calc(var(--host-one-x) + var(--host-one-width)) var(--host-one-y),
    calc(var(--host-one-x) + var(--host-one-width)) calc(var(--host-one-y) + var(--host-one-height)),
    var(--host-one-x) calc(var(--host-one-y) + var(--host-one-height)),
    var(--host-one-x) var(--host-one-y),
    0px var(--host-one-y),
    0px var(--host-two-y),
    var(--host-two-x) var(--host-two-y),
    calc(var(--host-two-x) + var(--host-two-width)) var(--host-two-y),
    calc(var(--host-two-x) + var(--host-two-width)) calc(var(--host-two-y) + var(--host-two-height)),
    var(--host-two-x) calc(var(--host-two-y) + var(--host-two-height)),
    var(--host-two-x) var(--host-two-y),
    0px var(--host-two-y),
    0px 0px
  );
}

/* Host Name Positions & Dimensions */
#container #host-one {
  bottom: var(--bottom-bar-height);
  left: var(--host-one-x);
  width: var(--host-one-width);
  height: calc(var(--host-one-height) / 5);
  font-size: calc(var(--host-one-height) / 10);
}

#container #host-two {
  bottom: var(--bottom-bar-height);
  left: var(--host-two-x);
  width: var(--host-two-width);
  height: calc(var(--host-two-height) / 5);
  font-size: calc(var(--host-two-height) / 10);
}

/* Info Boxes Position & Dimensions */
#container #info-boxes {
  flex-direction: column;
  left: calc(var(--game-three-x) + var(--game-three-width) + var(--element-margin));
  top: calc(var(--game-one-y) + var(--game-one-height) + var(--element-margin) + calc(var(--social-height) - var(--info-box-height)));
  width: var(--social-width);
  height: var(--info-box-height);
  overflow-y: visible;
}

/* Alerts & Chat Position & Dimensions */
#container #chat,
#container #alerts {
  top: calc(var(--game-one-y) + var(--game-one-height) + var(--element-margin));
  left: calc(var(--game-three-x) + var(--game-three-width) + var(--element-margin));
  width: var(--social-width);
}

#container #chat {
  height: calc(var(--social-height) - calc(var(--info-box-height) + var(--divider-height)));
}

#container #alerts {
  height: var(--social-height);
}

#container #social-background {
  display: flex;
  top: calc(var(--host-one-y) + calc(var(--social-height) / 2));
  left: calc(calc(var(--host-one-x) + var(--host-one-width) + var(--social-width) + calc(var(--element-margin) * 2)) + calc(var(--social-width) / 2));
}
