body {
  height: var(--overlay-height);
  width: var(--overlay-width);
}

#container {
  position: absolute;
  bottom: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: var(--bottom-bar-height);
  align-items: center;
  align-content: center;
  font-family: 'Logbook Prime', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 72px;
  color: #FFFFFF;
}

#container #donation-amount {
  flex: 1;
  position: relative;
  bottom: -5px;
  margin: 0 12px 0 24px;
  text-align: right;
}

#alerts {
  position: absolute;
  right: 0;
}
